.Page_Agendamento {

    .indice {
        background-color: #FAB5B4;
        height: 100vh;
        width: 20%;
    }
    
    .editando {
        width: 65%;
        padding: 3em 5em 0em 5em;
        justify-content: center;
    }
    
    .pagina {
        display: flex;
        height: 100vh;
        width: 100%;
    }

    // correção
    .Menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-items: center;
    height: 2em;
    background-color: #fff;
    color: #000;
    padding: 0.5em 0px;
    font-family: "Poppins", sans-serif !important;
    font-size: 16px;
    width: 80%;
    border-radius: 0px 20px 20px 0px;
    align-self: flex-start;
    }
    //
    
    .titulos {
        margin-left: 0px;
        
    }
    
    h3 {
        font-weight: 900;
    }
    
    
    h1 {
        margin-top: 1em;
    }
    
    h2{
        width: 15em;
        margin-top: 1em;
    }

    h3 {
        width: 9em;
        margin-top: 2.5em;
    }
    
    
    .fileira1 {
        display: flex;
        flex-direction: row;
    }
    
    .nome{
        width: 400px;
        height: 25px;
        margin-left: 0px;
        background-color: #dcdcdc;
        border: none;
    }
    
    .ficha{
        width: 148px;
        height: 25px;
        margin-left: 5em;
        background-color: #dbdbdb;
        border: none;
    
    }
    
    .dt-conf {
        width: 148px;
        height: 25px;
        background-color: #dcdcdc;
        border: none;
    
    }
    
    .genero-CPF {
        width: 148px;
        height: 25px;
        margin-left: 6.4em;
        background-color: #dcdcdc;
        border: none;
    
    }
    
    .obs{
       width: 625px;
        height: 100px;
        background-color: #dcdcdc;
        border: none;
    }
    
    .hora {
            width: 120px;
            height: 25px;
            margin-left: 2em;
            background-color: #dbdbdb;
            border: none;
    }
    
    .pag-valor{
            width: 138px;
            height: 25px;
    
            margin-left: 2em;
            background-color: #dbdbdb;
            border: none;
    }
    
    .desc1 {
        margin-top: 1em;
        margin-bottom: 0.5em;
        font-size: 15px;
    }
    
    .desc2 {
        margin-left: 4.3em;
        margin-top: 1em;
        margin-bottom: 0.5em;
        font-size: 15px;
    }
    
    .desc3 {
        margin-left: 5.5em;
        margin-top: 1em;
        margin-bottom: 0.5em;
        font-size: 15px;
    }
    .desc4 {
        margin-left: 1.7em;
        margin-top: 1em;
        margin-bottom: 0.5em;
        font-size: 15px;
    }
    
    .salvar{
            padding: 10px 20px;
            color: #000;
            background-color: #FAB5B4;
            border-radius: 20px;
            font-size: 14px;
            margin-left: 0em;
            width: 10em;
            height: 2.5em;
            justify-self: flex-end !important;
            align-self: flex-end;
            margin-right: 20%;
    }
    
    .salvar:hover {
        color: rgb(249, 249, 249);
        background-color: #eb8c8a;
    }
    
    /* bia add */
    
    .user {
        padding: 5px 10px 5px 10px;
        height: 3em;
        border: none;
        border-radius: 0px 0px 10px 10px;
        background-color: #FAB5B4;
    }
    
    .Menu:hover {
        background-color: #ebe8e8;
        color: #f89f9e;
        cursor: pointer;
    }

    
    .profile {
        width: 20px;
        margin-right: 5px;
        height: 20px;
    }
    
    h1 {
        margin: 0px !important;
    }
    
    .save-img {
        width: 20px;
        height: 20px;
    }
    
    .home-img {
        width: 18px;
        height: 18px;
    }


    .fb {
        display: flex;
    }
    
    .align-center {
        align-items: center;
    }
    
    .jc-center {
        justify-content: center;
    }
    
    .fb-column {
        display: flex;
        flex-direction: column;
    }
    
    .fb-row {
        display: flex;
        flex-direction: row;
    }
    
    .faixa {
        display: flex;
        height: 100vh;
        width: 100%;
    }
    
    .titulo {
        font-family: 'Poppins-Bold';
        font-size: 22px;
        color: #01923F;
    }
    
    .subtitulo {
        font-family: 'Poppins-Medium';
        font-size: 16px;
        color: #01923F;
    }
    
    .tag-input {
        height: 1.5em;
        width: 100%;
        border: none;
        background-color: #DCDCDC;
    }
    
    .texto {
        font-family: 'Poppins'; // roboto-light //
        font-size: 16px;
    }
    
     a:link, a:active, a:visited {
        padding: 5px 20px;
        text-decoration: none;
        font-family: 'Roboto-Light';
        text-align: center;
        margin-top: 2em;
    }

    .left {
        justify-content: left;
    }

    .margem-botoes-salvar {
        padding: 0px !important;
        margin-top: 1.5em;
    }

    // correções

    .texto-botao {
        font-family: 'Roboto'; // roboto-light //
        font-size: 15px;
        margin: 0px !important;
    }

    @media (max-width: 480px) {

        .pagina {
            flex-direction: column !important;
        }

        .indice {
            width: 100%;
            justify-content: center;
            align-items: center;
            margin: 0px 0px 1em 0px;
            height: 15%;
            padding: 10px 0px;
        }

        .Menu {
            height: 50%;
            padding: 5px 10px !important;
            margin-top: 0px !important;
        }

        .titulo {
            padding: 2%;
            font-size: 16px;
            margin: 2%;
        }

        h2 {
            max-width: 100% !important;
        }

        .subtitulo {
        padding: 2%;
        font-size: 14px;
        margin: 2%;
        }

        .editando {
            padding: 0px;
            flex-wrap: wrap;
            width: 100%;
        }

        .texto {
            width: 100%;
            padding: 2%;
            font-size: 12px;
        }

        .nome{
            width: 80%;
        }

        .fileira1 {
            flex-wrap: wrap;
            max-width: 100%;
        }

        .caixa1 {
            display: flex;
            flex-direction: column;
            align-items: left;
            padding: 2%;
            width: 96%;
        }


        .caixa-nome {
            width: 98% !important;
        }

        .genero-CPF {
            margin: 0px;
            width: 50%;
        }

        .obs {
            width: 80%;
        }
        
        .desc1 {
            margin: 0px;
            width: 50%;
        }

        .desc2 {
            margin: 0px;
            width: 100%;
        }

        
        .desc3 {
            margin: 0px;
            width: 50%;
        }

        
        .desc4 {
            margin: 0px;
            width: 50%;
        }

        
        .desc5 {
            margin: 0px;
            width: 50%;
        }

        .dt-conf {
            width: 50%;
        }

        .data-config {
            width: 40% !important;
        }

        .ficha {
            margin: 0px;
            width: 50%;
        }

        .pag-valor {
            margin: 0px;
            width: 50%;
        }

        .hora {
            margin: 0px;
            width: 50%;
        }

        .cx-margem {
            margin: 0px;
            padding: 0px;
        }

        .user {
            max-width: 100%;
            padding: 2%;
            display: none;
        }
    }
}
